assignment5.js
[{"id":"61ef8639.f77c18","type":"debug","z":"91204c07.14d34","name":"","active":false,"console":"true","complete":"payload","x":640,"y":360,"wires":[]},{"id":"53de4fb2.2ba32","type":"function","z":"91204c07.14d34","name":"funcionenvio","func":"msg.payload = {\"d\":{\"temp\":Number(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"))}};\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["61ef8639.f77c18","130026aa.5caac9"]]},{"id":"dc1519e3.08f888","type":"exec","z":"91204c07.14d34","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"","timer":"","name":"","x":250,"y":300,"wires":[["53de4fb2.2ba32","61ef8639.f77c18"],[],[]]},{"id":"11d2e662.54b34a","type":"inject","z":"91204c07.14d34","name":"cpu","topic":"","payload":"","payloadType":"num","repeat":"5","crontab":"","once":true,"x":110,"y":300,"wires":[["dc1519e3.08f888"]]},{"id":"710fea.bfbea018","type":"function","z":"91204c07.14d34","name":"extractor","func":"msg.payload = {\"d\":{\"temperature\":Number(msg.payload.temperature),\"humidity\":Number(msg.payload.humidity)}};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["4ce76869.c25d98","7db588fa.80af08"]]},{"id":"269a3edc.87a242","type":"rpi-sensehatsim in","z":"91204c07.14d34","name":"","motion":false,"env":true,"stick":false,"x":100,"y":520,"wires":[["f6e79c85.e8f0e"]]},{"id":"7db588fa.80af08","type":"debug","z":"91204c07.14d34","name":"","active":false,"console":"true","complete":"payload","x":720,"y":500,"wires":[]},{"id":"f6e79c85.e8f0e","type":"delay","z":"91204c07.14d34","name":"","pauseType":"rate","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":420,"wires":[["710fea.bfbea018","4155580d.384828"]]},{"id":"130026aa.5caac9","type":"wiotp out","z":"91204c07.14d34","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"1b757afc.8e2835","deviceType":"","deviceId":"20000","event":"event","format":"json","name":"","x":690,"y":280,"wires":[]},{"id":"4ce76869.c25d98","type":"wiotp out","z":"91204c07.14d34","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"bed5739f.c9c6a","deviceType":"Device-SenseHat","deviceId":"10000","event":"event","format":"json","name":"Hat","x":670,"y":420,"wires":[]},{"id":"6cd22643.7943b8","type":"wiotp in","z":"91204c07.14d34","authType":"d","deviceKey":"bed5739f.c9c6a","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"SensorHat-Device","x":110,"y":600,"wires":[["f62c24cf.6bceb8"]]},{"id":"46fe73d9.90d48c","type":"rpi-sensehatsim out","z":"91204c07.14d34","name":"","x":750,"y":560,"wires":[]},{"id":"4155580d.384828","type":"function","z":"91204c07.14d34","name":"temperature","func":"msg.payload.lastTemp = msg.payload.temperature;\nglobal.set(\"lastTemp\",msg.payload.lastTemp );\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":520,"wires":[["d076cfc7.af8ea"]]},{"id":"d076cfc7.af8ea","type":"function","z":"91204c07.14d34","name":"conmutador","func":"var temperature = global.get(\"lastTemp\");\n//var screen = global.get(\"lastCmd\");\nmsg.payload.temperature = Math.round(Number(temperature));\n//msg.payload.screen = screen;\nvar ones = Math.floor(temperature/10);\nvar tens = Math.floor(temperature-ones*10);\n//msg.payload.screen = global.get(msg.payload.screen);\nvar tensArray=[\n    \n\"0,0,0,0,0\", \n\n\"2,1,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192,2,3,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192,2,3,192,192,192,2,4,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192,2,3,192,192,192,2,4,192,192,192,2,5,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192,2,3,192,192,192,2,4,192,192,192,2,5,192,192,192,2,6,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192,2,3,192,192,192,2,4,192,192,192,2,5,192,192,192,2,6,192,192,192,1,1,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192,2,3,192,192,192,2,4,192,192,192,2,5,192,192,192,2,6,192,192,192,1,1,192,192,192,1,2,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192,2,3,192,192,192,2,4,192,192,192,2,5,192,192,192,2,6,192,192,192,1,1,192,192,192,1,2,192,192,192,1,3,192,192,192\",\n \n\"2,1,192,192,192,2,2,192,192,192,2,3,192,192,192,2,4,192,192,192,2,5,192,192,192,2,6,192,192,192,1,1,192,192,192,1,2,192,192,192,1,3,192,192,192,1,4,192,192,192\"];\n \nvar onesArray=[\n    \n \"0,0,0,0,0\",\n \n\"6,1,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192,6,3,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192,6,3,192,192,192,6,4,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192,6,3,192,192,192,6,4,192,192,192,6,5,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192,6,3,192,192,192,6,4,192,192,192,6,5,192,192,192,6,6,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192,6,3,192,192,192,6,4,192,192,192,6,5,192,192,192,6,6,192,192,192,5,1,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192,6,3,192,192,192,6,4,192,192,192,6,5,192,192,192,6,6,192,192,192,5,1,192,192,192,5,2,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192,6,3,192,192,192,6,4,192,192,192,6,5,192,192,192,6,6,192,192,192,5,1,192,192,192,5,2,192,192,192,5,3,192,192,192\",\n \n\"6,1,192,192,192,6,2,192,192,192,6,3,192,192,192,6,4,192,192,192,6,5,192,192,192,6,6,192,192,192,5,1,192,192,192,5,2,192,192,192,5,3,192,192,192,5,4,192,192,192\"\n \n];\n\nif (msg.payload.screen == \"on\"){\nmsg.payload = \"*,*,128,0,0\"+\",\"+tensArray[ones]+\",\"+onesArray[tens];\nreturn [null,null,msg];  \n}\n\nif (msg.payload.screen == \"off\"){\n    msg.payload = \"*,*,0,128,0\"+\",\"+tensArray[ones]+\",\"+onesArray[tens];\nreturn [null,msg,null]; \n}\n\nelse\n\n{\n\nmsg.payload = \"*,*,0,0,0\"+\",\"+tensArray[ones]+\",\"+onesArray[tens];\n\nreturn [msg,null,null];\n}","outputs":"3","noerr":0,"x":500,"y":560,"wires":[["46fe73d9.90d48c"],["46fe73d9.90d48c"],["46fe73d9.90d48c"]]},{"id":"f62c24cf.6bceb8","type":"function","z":"91204c07.14d34","name":"screen","func":"//msg.payload.lastCmd = msg.payload.screen;\nglobal.set(\"screen\",msg.payload.screen);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":600,"wires":[["d076cfc7.af8ea","e507485b.54e198"]]},{"id":"e507485b.54e198","type":"debug","z":"91204c07.14d34","name":"","active":true,"console":"true","complete":"true","x":550,"y":660,"wires":[]},{"id":"1b757afc.8e2835","type":"wiotp-credentials","z":"","name":"cputemp","org":"6p0bgu","devType":"Gateway-Pi","devId":"20000"},{"id":"bed5739f.c9c6a","type":"wiotp-credentials","z":"","name":"","org":"6p0bgu","devType":"Device-SenseHat","devId":"sen20000"}]