assignment5_blumix.js
[{"id":"c9ef788b.b510f8","type":"ibmiot in","z":"3e37a3df.30b8cc","authentication":"apiKey","apiKey":"8020dda2.aaae9","inputType":"evt","deviceId":"sen20000","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":220,"wires":[["c41609e1.c2d888","fe510593.be6d48"]]},{"id":"3967aed7.52a2e2","type":"debug","z":"3e37a3df.30b8cc","name":"1","active":true,"console":"false","complete":"true","x":590,"y":300,"wires":[]},{"id":"b26df85b.d65e48","type":"ibmiot out","z":"3e37a3df.30b8cc","authentication":"apiKey","apiKey":"8020dda2.aaae9","outputType":"cmd","deviceId":"sen20000","deviceType":"Device-SenseHat","eventCommandType":"{}","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":220,"wires":[]},{"id":"8d24f238.d7c89","type":"json","z":"3e37a3df.30b8cc","name":"","x":490,"y":200,"wires":[["5bf461d8.180c8"]]},{"id":"5bf461d8.180c8","type":"rbe","z":"3e37a3df.30b8cc","name":"","func":"rbe","gap":"","start":"","inout":"out","x":570,"y":100,"wires":[["b26df85b.d65e48","3967aed7.52a2e2"]]},{"id":"c41609e1.c2d888","type":"function","z":"3e37a3df.30b8cc","name":"on","func":"var lastTemp;\nglobal.set(\"lastTemp\", msg.payload.d.temperature);\n\n//if (lastTemp < 29)\nif (global.get(\"lastTemp\") <= 29){\n    msg.payload = {\"screen\":\"off\"};   \n}\nelse {\n    msg.payload = {\"screen\":\"on\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["8d24f238.d7c89"]]},{"id":"fe510593.be6d48","type":"debug","z":"3e37a3df.30b8cc","name":"","active":false,"console":"false","complete":"false","x":380,"y":320,"wires":[]},{"id":"8020dda2.aaae9","type":"ibmiot","z":"","name":"SensorHat-Device","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false}]